*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #dce0d9, #ead7c3);
    margin: 30px;
}
.div1{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.div1 button{
    width: 8%;
    border-radius: 20px;
    background: #6bbf59;
    color: white;
    cursor: pointer;
}

.delbtn{
    width: 8%;
    border-radius: 20px;
    background: red;
    color: white;
    cursor: pointer;
    margin-left: 4px;
}

.editbtn{
    width: 8%;
    border-radius: 20px;
    background: #6bbf59;
    color: white;
    cursor: pointer;
    margin-left: 4px;
}